---
---

$bg-color: rgb(22, 20, 23);

body {
    background: $bg-color;
}

.site-header {
    background: $bg-color;
    border-bottom-color: rgba(255, 255, 130, 1);
}

.site-nav {
    background-color: lighten($bg-color, 5);
}

.site-nav .nav-item {
    color: white;
}

.post-header {
    border-bottom-color: rgba(255, 255, 130, 1);
}

.post-content {
    color: white;
}

.menu-icon {
    color: white;
}