---
---

$top-bg-color: #000E23;
$bottom-bg-color: #005B56;

body {
    background: linear-gradient(in oklab, $top-bg-color, $bottom-bg-color) !important;
}

.site-header {
    background: $top-bg-color !important;
    border-bottom-color: rgba(255, 255, 130, 1);
}

$on-palm:          600px !default;
$on-medium:        $on-palm !default;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

.site-nav {
    @include media-query($on-medium) {
        background-color: lighten($top-bg-color, 5);
    }
}

.nav-items .nav-item {
    color: white;
}

.post-header {
    border-color: rgba(255, 255, 130, 1);
}

.post-title {
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(120deg,rgba(255, 255, 130, 1) 0%, rgba(255, 217, 46, 1) 44%, rgba(255, 238, 184, 1) 57%, rgba(255, 225, 54, 1) 65%, rgba(255, 162, 0, 1) 100%);
    font-family: limelight;
}

.post-content {
    color: white;
}

.menu-icon {
    color: white;
}