---
---

@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

body {
    background: linear-gradient(in oklab, #ff99db, #ffe667) !important;
}

.site-header {
    background: #ff99db !important;
    border-bottom-color: rgba(255, 255, 130, 1);
}

.site-title {
    /* FIXME: Move this to a css file that applies to the whole website... */
    font-family: limelight;

    color: transparent;
    background-clip: text;
    background-image: linear-gradient(120deg,rgba(255, 255, 130, 1) 0%, rgba(255, 217, 46, 1) 44%, rgba(255, 238, 184, 1) 57%, rgba(255, 225, 54, 1) 65%, rgba(255, 162, 0, 1) 100%);
}

.nav-items .nav-item {
    color: white;
}

.post-header {
    border-color: rgba(255, 255, 130, 1);
}

.post-title {
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(120deg,rgba(255, 255, 130, 1) 0%, rgba(255, 217, 46, 1) 44%, rgba(255, 238, 184, 1) 57%, rgba(255, 225, 54, 1) 65%, rgba(255, 162, 0, 1) 100%);
    font-family: limelight;
}

.post-content {
    color: white;
}