---
---

body {
    background: linear-gradient(in oklab, #2a6b12, #004b19) !important;
}

.site-header {
    background: #2a6b12 !important;
    border-bottom-color: rgba(255, 255, 130, 1);
}

.site-nav {
    background-color: #2a6b12;
}

.nav-items .nav-item {
    color: white;
}

.menu-icon {
    color: white;
}

.post-header {
    border-color: rgba(255, 255, 130, 1);
}

.post-content {
    color: white;
}