---
---

body {
    background: linear-gradient(to right in oklab, #D2C2DF, #D2C2DF 50%,#C0D7E3 50%) !important;
}

.site-header {
    background: linear-gradient(to right in oklab, #D2C2DF, #D2C2DF 50%,#C0D7E3 50%) !important;
    border-bottom-color: rgba(255, 255, 130, 1);
}

.site-title {
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(120deg,rgba(255, 255, 130, 1) 0%, rgba(255, 217, 46, 1) 44%, rgba(255, 238, 184, 1) 57%, rgba(255, 225, 54, 1) 65%, rgba(255, 162, 0, 1) 100%);
}

.nav-items .nav-item {
    color: white;
}

.post-header {
    border-color: rgba(255, 255, 130, 1);
}

.post-title {
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(120deg,rgba(255, 255, 130, 1) 0%, rgba(255, 217, 46, 1) 44%, rgba(255, 238, 184, 1) 57%, rgba(255, 225, 54, 1) 65%, rgba(255, 162, 0, 1) 100%);
}

.post-content {
    color: white;
}