---
---

body {
    background: linear-gradient(to right in oklab, #D2C2DF, #D2C2DF 50%,#C0D7E3 50%) !important;
}

.site-header {
    background: linear-gradient(to right in oklab, #D2C2DF, #D2C2DF 50%,#C0D7E3 50%) !important;
    border-bottom-color: rgba(255, 255, 130, 1);
}

.site-nav {
    background-color: #C0D7E3;
}

.nav-items .nav-item {
    color: white;
}

.post-header {
    border-color: rgba(255, 255, 130, 1);
}

.post-content {
    color: white;
}