---
---

body {
    background: linear-gradient(to right in oklab, #D2C2DF, #D2C2DF 50%,#C0D7E3 50%) !important;
}

.site-header {
    background: linear-gradient(to right in oklab, #D2C2DF, #D2C2DF 50%,#C0D7E3 50%) !important;
    border-bottom-color: rgba(255, 255, 130, 1);
}

$on-palm:          600px !default;
$on-medium:        $on-palm !default;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

.site-nav {
    @include media-query($on-medium) {
        background-color: lighten(#C0D7E3, 5);
    }
}

.nav-items .nav-item {
    color: black;
}

.post-header {
    border-color: rgba(255, 255, 130, 1);
}

.post-content {
    color: black;
}

table {
    --minima-table-text-color: black !important;
    /* FIXME: Something more pleasant than just blending towards black.. */
    --minima-table-header-bg-color: rgba(0, 0, 0, 0.2) !important;
    --minima-table-zebra-color: rgba(0, 0, 0, 0.1) !important;
}