@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

.site-title {
    font-family: limelight;
}

.nav-item {
    /* FIXME: Another font?? */
}

.post-title {
    /*color: transparent;
    background-clip: text;
    background-image: linear-gradient(120deg,rgba(255, 255, 130, 1) 0%, rgba(255, 217, 46, 1) 44%, rgba(255, 238, 184, 1) 57%, rgba(255, 225, 54, 1) 65%, rgba(255, 162, 0, 1) 100%);*/
    font-family: limelight;
}