@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

.site-title {
    font-family: limelight;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(120deg,rgba(255, 255, 130, 1) 0%, rgba(255, 217, 46, 1) 44%, rgba(255, 238, 184, 1) 57%, rgba(255, 225, 54, 1) 65%, rgba(255, 162, 0, 1) 100%);
}

.nav-item {
    /* FIXME: Another font?? */
}

.post-title {
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(120deg,rgba(255, 255, 130, 1) 0%, rgba(255, 217, 46, 1) 44%, rgba(255, 238, 184, 1) 57%, rgba(255, 225, 54, 1) 65%, rgba(255, 162, 0, 1) 100%);
    font-family: limelight;
}

table {

    /* Always show the table in display: table
     and ignore the weird media query behaviour
     minima does. -Noggin_bops 2025-12-25 */
    display: table !important;

    --minima-table-text-color: white !important;
    /* FIXME: Something more pleasant than just blending towards black.. */
    --minima-table-header-bg-color: rgba(0, 0, 0, 0.3) !important;
    --minima-table-zebra-color: rgba(0, 0, 0, 0.2) !important;
}